body {
    background-color: rgb(34, 34, 34);
    position: center;

}

.mainbody {
    margin:auto;
    text-align:center;
    width:200px;
    height:200px;
}

.btn {
    margin: auto;
    padding: 25px;
    font-size: 25px;
}

title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    position: center;
}

title.style {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    position: center;
}