
body
{
    background: rgb(32, 32, 32);
    color:white;
    font-family: Helvetica neue, Helvetica, Arial, sans-serif;
}     

h1
{
    color:rgb(187, 187, 187);
}

h2
{
    color:rgb(59, 141, 196);
}
button
{
    background:rgb(59, 141, 196);
    border-width: 0;
    border-radius: 100ch;
}

header
{
    background: black;
    padding:20px;
}

li
{
    display:inline;
    margin-right:20px;
}

section
{
    background:white;
    color:grey;
    padding:20px;
    display: flex;
    flex-direction: row;
}

div
{
    background:red;
    margin:auto;
    width:100px;
    
}

footer
{
    background: black;
    padding:10px 20px;
}
